<br>
<footer class="footer-control container-fluid">
    <div class="row text-justify" style="font-size: small;">
        <div class="col-12 col-md-4 col-lg-3 offset-lg-1" style="padding-bottom: 1rem;">
            <h5>About Us</h5>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                been the industry's standard dummy text ever since the 1500s, when an unknown printer took
                a galley of type and scrambled it to make a type specimen book. It has survived not only five
                centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
            <h6>Contact Us</h6>
            <p style="margin-top: -12px;">info@educord.com</p>
        </div>
        <div class="col-12 col-md-4 col-lg-4" style="padding-bottom: 1rem;">
            <h5>Lorem Ipsum</h5>
            <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                been the industry's standard dummy text ever since the 1500s, when an unknown printer took
                a galley of type and scrambled it to make a type specimen book. It has survived not only five
                centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
            </p>
        </div>
        <div class="col-12 col-md-4 col-lg-3" style="padding-bottom: 1rem;">
            <h6>Get email updates</h6>
            <form class="form-horizontal" action="" method="post">
                {% csrf_token %}
                <p>Sign up for email updates and we'll plant a tree for you through Trees for the Future.</p>
                <div class="input-group input-group-sm mb-3">
                    <input type="email" class="form-control" placeholder="Email">
                    <div class="input-group-append">
                        <button class="btn btn-secondary" type="submit">Subscribe</button>
                    </div>
                </div>
            </form>
            <address>
                <strong>EduCord</strong><br/>
                A-12/22, 2nd Floor, XYZ Center<br/>
                ABC Lane, Abcdef<br/>
                New Delhi<br/>
                India - 123456<br/>
                <span style="font-style: normal;">Phone #: (011) 1234-5678</span>
            </address>
        </div>
    </div>
    <p>
        <a href="#">Back to top</a>
    </p>
</footer>
